services:
  app:
    build:
      context: ./.devcontainer
      dockerfile: Dockerfile
    
    network_mode: host
    ipc: host
    privileged: true
    runtime: nvidia

    environment:
      - DISPLAY=${DISPLAY}
      - WAYLAND_DISPLAY=${WAYLAND_DISPLAY}
      - XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR}
      - PIPEWIRE_RUNTIME_DIR=${XDG_RUNTIME_DIR}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      
    devices:
      - /dev/dri:/dev/dri
      - /dev/snd

    volumes:
      - .:/home/devuser/Workspaces:cached
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${HOME}/.Xauthority:/home/devuser/.Xauthority:ro
      - ${XDG_RUNTIME_DIR}:${XDG_RUNTIME_DIR}
      
    command: sleep infinity